<h2 class="content-block">Notes</h2>

<dx-data-grid
  class="dx-card wide-card"
  id="gridContainer"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  (onSaving)="onSaving($event)"
  (onRowUpdating)="onRowUpdating($event)"
>
  <dxo-editing
    mode="row"
    [allowAdding]="true"
    [allowDeleting]="true"
    [allowUpdating]="true"
    [(changes)]="changes"
    [(editRowKey)]="editRowKey"
  ></dxo-editing>

  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->

  <dxi-column dataField="id" [width]="90" [hidingPriority]="1" [allowEditing]="false"> </dxi-column>
  <dxi-column dataField="isComplete" caption="Completion" [hidingPriority]="0">
  </dxi-column>
  <dxi-column
    dataField="title"
    [width]="300"
    caption="Title"
  >
  </dxi-column>
  <dxi-column
    dataField="tags"
    caption="Tags"
    [width]="200"
    [hidingPriority]="2"
    [allowSorting]="false"
    editCellTemplate="tagBoxEditor"
    [cellTemplate]="cellTemplate"
    [calculateFilterExpression]="calculateFilterExpression"
  >
  </dxi-column>
  <dxi-column dataField="reminder" dataType="datetime"
  [hidingPriority]="3"> </dxi-column>
  <!-- <dxi-column
    dataField="Task_Due_Date"
    caption="Due Date"
    dataType="date"
    [hidingPriority]="4">
  </dxi-column>
  <dxi-column
    dataField="Task_Priority"
    caption="Priority"
    name="Priority"
    [hidingPriority]="1">
  </dxi-column> -->

  <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
    <dx-tag-box
      [dataSource]="tags"
      [showSelectionControls]="true"
      [maxDisplayedTags]="3"
      [showMultiTagOnly]="false"
      [inputAttr]="{ 'aria-label': 'Name' }"
      applyValueMode="useButtons"
      [searchEnabled]="true"
      (onValueChanged)="cellInfo.setValue($event.value)"
      (onSelectionChanged)="cellInfo.component.updateDimensions()"
    >
    </dx-tag-box>
  </div>

</dx-data-grid>
